/* Overview*/
.overview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.column-one {
  display: flex;
  flex-wrap: wrap;
  margin-left: 13%;
}

.column-two {
  display: flex;
  flex-direction: column;
  margin-right: 13%;
  margin-left: 4%;
  justify-content:space-between;
}

/*Image Gallery */
.image-gallery {
  display: flex;
  z-index: 2;
}

.main-image {
  display: flex;
  justify-content:space-evenly;
}

.main-image-left-arrow {
  z-index: 1;
  margin-right: -55px;
  margin-left: 10px;
  font-family: Courier New;
  color: #4d4d4d;
  font-size: 50px;
  background: transparent;
  border: transparent;
  font-weight: bold;
}

.main-image-left-arrow:hover {
  color: white;
}

.main-image-right-arrow {
  z-index: 1;
  margin-left: -50px;
  font-family: Courier New;
  color: #4d4d4d;
  font-size: 50px;
  background: transparent;
  border: transparent;
  font-weight: bold;
}

.main-image-right-arrow:hover {
  color: white;
}

.image-sidebar {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.main-photo {
  justify-content: flex-start;
  width: 40em;
  height: 40em;
  margin-left: -55px;
  justify-content: flex-start;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  z-index: 0;
}

.selected-image {
  filter: brightness(140%);
  opacity: 70%;
}

.gallery-image {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius:10%;

}

.up-and-down-arrow {
  color:white;
  background: transparent;
  border: transparent;
  font-weight: bold;
  font-size: 1.5em;
}

/*expanded view */
.overview-expanded {
  left: 0;
  top: 0;
  width: 100vw;
  height: 40em;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  margin-bottom: -40em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.expanded-view-div {
  height: 40em;
  width: 90em;
  border: 3px solid;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.expanded-view-photo {
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.expanded-view-main-photo {
  width: 90em;
  height: 90em;
  z-index: 5;
  cursor: crosshair;
}

.expanded-view-exit {
  z-index: 6;
  margin-bottom: -2.5em;
  margin-right: .5em;
  font-size: 2em;
  text-align: center;
  font-family: Courier New;
  color: white;
  border-radius: 10%;
  background: transparent;
  border: solid 2px;
  font-weight: bold;
  display:flex;
  align-self: flex-end;
}

.expanded-view-numbers {
  display: flex;
  justify-content: row;
  z-index: 9;
  height: 2em;
  margin-bottom: -2em;
  align-self: flex-start;
  margin-left: .5em;
}

.expanded-view-left-arrow {
  z-index: 6;
  margin-right: -70px;
  font-family: Courier New;
  color: #4d4d4d;
  font-size: 90px;
  background: transparent;
  border: transparent;
  font-weight: bold;
}

.expanded-view-left-arrow:hover {
  color: white;
}

.expanded-view-number-buttons {
  font-family: Courier New;
  color: #4d4d4d;
  border-radius: 100%;
  background: transparent;
  border: solid 2px;
  font-weight: bold;
}

.expanded-view-selected-number-button {
  font-family: Courier New;
  color: white;
  border-radius: 100%;
  background: transparent;
  border: solid 2px;
  font-weight: bold;
}

.expanded-view-right-arrow {
  z-index: 6;
  margin-left: -70px;
  font-family: Courier New;
  color: #4d4d4d;
  font-size: 90px;
  background: transparent;
  border: transparent;
  font-weight: bold;
}

.expanded-view-right-arrow:hover {
  color: white;
}

/*Product Info */
.product-original-price {
  text-decoration: line-through;
}

.product-sale-price {
  color: red;
}

/*Style Selector*/
.style-selector-image {
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.check-mark {
  display: flex;
  justify-content: flex-end;
  margin-left: -20px;
  margin-bottom: -20px;
  position: relative;
  z-index: 1;
  color: white;
}

/*AddToCart*/
.select-items {
  display: none;
    flex-direction: column;
    border: 1px solid black;
    z-index: 3;
    width: 30%;
    margin-right: -33%;
    background: white;
    margin-bottom: -4em;
    border-radius: 5%;

}

.drop-down:hover{
  background-color: blue;
  color: white;
  cursor: default;
}

#select-size {
  cursor: default;
}

.select-size-and-quantity {
  display: flex;
  justify-content: row;
  justify-content: space-between;
}

.bag-and-favorite {
  display: flex;
  justify-content: row;
  justify-content: space-between;
}

.addToBag {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #4d4d4d;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #4d4d4d 1px;
  text-decoration: none;
  width: 77%;

}

.addToBag:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.quantity {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #4d4d4d;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #4d4d4d 1px;
  text-decoration: none;
  width: 25%;
}

.selectSize {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #4d4d4d;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #4d4d4d 1px;
  text-decoration: none;
  width: 60%;
}

.favoriteStar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #4d4d4d;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #4d4d4d 1px;
  text-decoration: none;
  width: 19%;
}

.favoriteStar:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}