/* all qNa component css*/
.mainQnA.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.title.container {
  display: flex;
  flex-direction: column;
}
.componentTitle{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: flex-start;
  margin-left: 1.25rem;
  border-bottom: .1em solid grey;
  margin-bottom: 1rem;
  font-size: 1.5em;
}
.qForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.aForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
div.list.container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 50vh;
  align-items: center;
  margin-left: 5rem;
}
.list.container::-webkit-scrollbar {
  display: none;
}
.questionListButton.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bottomButtons {
  display: flex;
  margin-left: 4rem;
  margin-top: 1rem;
}
.moreAnsweredBtn {
  padding: .5rem;
  font-family: 'lora', sans-serif;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: .0156rem;
  font-weight: lighter;
  color: #000;
  background-color: #fce1e0;
  border: none;
  margin: .25rem;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  width: 17.5rem;
}
.addQuestionBtn {
  padding: .5rem;
  font-family: 'lora', sans-serif;
  font-size: large;
  text-transform: uppercase;
  font-weight: lighter;
  color: #000;
  background-color: #fce1e0;;
  border: none;
  margin: .25rem;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  width: 11rem;
}
.addQuestionBtn:hover, .moreAnsweredBtn:hover{
  box-shadow: 0rem .938rem 1.25rem darkgrey;
  color: #9e9af5;
  filter: saturate(5);
  transform: translateY(-.438rem);
  font-weight: bolder;
  background-color: darkgrey;
}
/* all css for Search component
*/
.search.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.searchInput{
  display: flex;
  height: 7vh;
  width: 50rem;
  border-right: none;
  font-size: large;
  border-top:.1rem  solid black;
  border-bottom: .1rem  solid black;
  border-left: .1rem solid black;;
}
.iconContainer {
  display: flex;
  padding-right: 1vw;
  border-left: none;
  border-right: .1rem solid black;
  border-top: .1rem  solid black;
  border-bottom: .1rem  solid black;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.searchBtn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 4vh;
  height: 4vh;
}
.searchBtn:hover{
  cursor:text;
}
/* all css for QuestionContainer component
*/
.showQuestion {
  display: flex;
  flex-direction: column;
  width: 75vw;
  border-bottom: .2em solid darkgrey;
}
.qa.row {
  display: flex;
  width: 90vw;
  margin-top:5vh;
}
.questionText {
  padding: .25rem;
  width: 40rem;
  font-size: x-large;
  font-family: 'Lora', serif;
}
.answerListRow.container {
  display: flex;
  flex-direction: row;
}
.answerA {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding: .25rem;
  font-size: x-large;
  font-family: 'Lora', serif;
  font-style: italic;
}
/*all css for UserQuestion component
*/
.qFormData {
  position: fixed;
  display: flex;
  background-color: #e1edfc;
  margin-bottom: 1vh;
  padding:.7rem;
  z-index: 2;
  height: 75vh;
  width: 52vw;
}
.questionCloseMarker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 1vh;
  width: 1vw;
}
.questionCloseMarker:hover{
  color: darkred;
  cursor: pointer;
}
img.currentQuestionProductPhoto.img {
  display: flex;
  flex-direction: row;
  border-radius: 2em;
  width: 15vw;
  height: 15vw;
  padding: 1rem;
}
.askQuestionForm {
  display: flex;
  flex-direction: column;
}
.askQuestionForm.title {
  display: flex;
  justify-self: end;
  font-family: 'Montserrat', serif;
  font-size: x-large;
  align-items: center;
  font-style: italic;
}
.addQuestionAsterisk.productTitle, .addQuestionAsterisk.userNickName, .addQuestionAsterisk.userEmail {
  margin: 1vh;
  font-family: 'lora', serif;
  font-size: small;

}
.addQuestionAsterisk.productTitle:after, .addQuestionAsterisk.userNickName:after, .addQuestionAsterisk.userEmail:after{
  content: ' *';
  color: #B22222;
  height: 3vh;
}
textarea.userQuestion {
  width: 30vw;
  height:15vh;
  resize: none;
  font-size:large;
  font-family: 'Montserrat', serif;
  overflow-y: scroll;
  margin-bottom: 1vh;
  border: .1rem solid lightgray;
  overflow: hidden;
}
textarea.userQuestion:hover {
  border-color: grey;
}
.userNickName, .userEmail {
  display: flex;
  width: 20vw;
  overflow-x: auto;
  margin-bottom: 1vh;
  font-family: 'Montserrat', serif;
  font-size: medium;
}
.userQSubmit.btn {
  display: flex;
  justify-content: center;
  padding: .25rem;
  font-family: 'lora', sans-serif;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  color: #cd7912;
  background-color:#e1edfc;
  border: none;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: .15rem solid darkgrey;
  align-items: center;
}
.userQSubmit.btn:hover{
  box-shadow: 0rem .938rem 1.25rem darkgrey;
  border: .15rem solid darkgrey;
  color: #9e9af5;
  filter: saturate(10);
  background-color: darkgrey;
  transform: translateY(-.438rem);
}
.userQSubmit {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  background-color: #e1edfc;
}
/*all css for User Answer component
*/
.answerFormProductImg.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aFormData {
  position: fixed;
  display: flex;
  background-color: #e1edfc;
  z-index: 2;
  height: 95vh;
  width: 56vw;
}
.answerFormProductImg.text {
  margin-top: 6vh;
  margin-bottom:0 ;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}
img.answerFormProduct.img {
  display: flex;
  flex-direction: row;
  border-radius: 2em;
  align-items: center;
  width: 15vw;
  height: 15vw;
  padding: 1rem;
}
.closeAnswer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position:absolute;
  top: 0vh;
  left: 0vw;
  height: 5vh;
  width: 3vw;
  z-index: 1;
}
.closeAnswer:hover{
  color: darkred;
  cursor: pointer;
}
.selectedQuestionText{
  margin: 0;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}
.answerFormAsterisk {
  margin-bottom:.25vh;
  width: 35vw;
  overflow-x: auto;
  overflow:hidden;
  font-family: 'lora', sans-serif;
  font-size: small;
}
.answerFormAsterisk.answer {
  margin-top: 1.5vh;
}
.answerFormAsterisk.answer:after, .answerFormAsterisk.nickName:after, .answerFormAsterisk.email:after{
  content: ' *';
  color: #B22222;
}
.addAnswerFormUploadPhotoTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: .25vh;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-style: italic;
}
.fileSelector.container {
  display: flex;
  margin: 0;
}
input.photos {
  margin-top: 2vh;
  width: 15vw;
}
.uploadBtn.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
}
.addAnswersubmit {
  display: flex;
  justify-content: center;
  padding: .25rem;
  font-family: 'lora', sans-serif;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  color: #cd7912;
  background-color:#e1edfc;
  border: none;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: .15rem solid darkgrey;
  align-items: center;
}

.addAnswersubmit:hover{
  box-shadow: 0rem .938rem 1.25rem darkgrey;
  border: .15rem solid darkgrey;
  color: #9e9af5;
  filter: saturate(10);
  background-color: darkgrey;
  transform: translateY(-.438rem);
}
.closeConfirmation{
  display: flex;
  justify-content: start;
  margin: 0;
  padding-left: .25em;
}
.closeConfirmation:hover{
  color: darkred;
  cursor: pointer;
}
.confirmPhoto.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirmPhoto.text {
  font-family: 'lora', serif;
  font-size: large;
}
textarea.addAnswerFormText{
  display: flex;
  width: 35vw;
  height: 15vh;
  resize:none;
  overflow-y: scroll;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 1vh;
  border: .1rem solid lightgray;
  overflow: hidden;
  font-family: 'Montserrat', serif;
  font-size: larger;
}
textarea.addAnswerFormText:hover {
  border-color: grey;
}
.addAnswerFormNickNameInput{
  width: 20vw;
  overflow-x: auto;
  font-family: 'Lora', serif;
}
.addAnswerFormEmail {
  width: 20vw;
  overflow-x: auto;
  font-family: 'Lora', serif;
}
.submitAnswer.container {
  margin-top: 2vh;
  margin-left: 2vh;
  display: flex;
  align-items: center;
  width: 8vw;
  border-radius: 10rem;
  background-color: white;
}
.photoConfirmation {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 66vh;
  position: fixed;
  background-color: #e1edfc;
  border: .25rem solid black;
  border-radius: 1em;
  z-index: 3;
}
.answerConfirmPhoto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  height: 25vh;
  width: 25vh;
}
.addAnswerPhotoConfirmBtn.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  margin-top: 5vh;
}
.addAnswerPhotoConfirmButton{
  display: flex;
  justify-content: center;
  padding: .25rem;
  font-family: 'lora', sans-serif;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  color: #cd7912;
  background-color:#e1edfc;
  border: none;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: .15rem solid darkgrey;
  align-items: center;
}
.addAnswerPhotoConfirmButton:hover {
  box-shadow: 0rem .938rem 1.25rem darkgrey;
  border: .15rem solid darkgrey;
  color: #9e9af5;
  filter: saturate(10);
  background-color: darkgrey;
  transform: translateY(-.438rem);
}
.answerFormPhotoThumbnail{
  display: flex;
}
.addAnswerForm.form{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 1vw;
}
.uploadButton {
  display: flex;
  justify-content: center;
  padding: .25rem;
  font-family: 'lora', sans-serif;
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  color: #cd7912;
  background-color:#e1edfc;
  border: none;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: .15rem solid darkgrey;
  align-items: center;
}
.uploadButton:hover{
  box-shadow: 0rem .938rem 1.25rem darkgrey;
  border: .15rem solid darkgrey;
  color: #9e9af5;
  filter: saturate(10);
  background-color: darkgrey;
  transform: translateY(-.438rem);
}
.currentQuestion {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-bottom: 0;
  margin-top: 1vh;
  margin-left: 1vw;
  font-family:'Lora', serif;
  font-size: x-large;
}
/* all css for QuestionList component
*/
.answerList {
  display: flex;
  overflow-y: scroll;
  height: 15em;
  flex-direction: column;
}

.answerList::-webkit-scrollbar {
  display: none;
}
.answer.container {
  display: flex;
  flex-direction: column;
  padding: .25rem;
}
.answerText {
  margin-top: 0;
  margin-bottom: 0;
  width: 50vw;
  padding: .25rem;
  font-size: x-large;
  font-family: 'Lora', serif;
  font-weight:lighter;
}
.answererDetails {
  display: flex;
  flex-direction: row;
  width: 45vw;
  border-bottom: .025rem solid #8883f3;;
  border-width: thin;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: small;
  padding: .25rem;

}
.userIdText, .userHelpIndicator{
  display: flex;
  white-space: nowrap;
  border-top:none;
  border-Left:none;
  border-right: .15em solid black;
  border-bottom: none;
}
p.userReportBtn:hover{
  font-family: 'lora', sans-serif;
  display: flex;
  box-shadow: 1rem 1rem 1.25rem lightgray;
  text-decoration: none;
  font-size: small;
  padding: .5rem;
  letter-spacing: .0156rem;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  color: darkred;
  transform: translateY(-.7rem);
}
.loadMoreAnswerButton.container {
  display: flex;
  justify-content: flex-start;
  width: 75vw;
  margin-bottom: 1rem;
  margin-top: 0;
}
.loadMoreAnswersButton {
  display: flex;
  justify-content: center;
  padding: .25rem;
  font-family: 'lora', sans-serif;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  color: #8883f3;
  background-color:#fce1e0;
  border: none;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: .15rem solid darkgrey;
  align-items: center;
}
.loadMoreAnswersButton:hover{
  box-shadow: 0rem .938rem 1.25rem darkgrey;
  border: .15rem solid darkgrey;
  color: #9e9af5;
  filter: saturate(10);
  transform: translateY(-.438rem);
}
.loadMoreAnswersButton:hover {
  background-color: #B1B1B1;;
}
/* all css for AnswerImages component*/
.thumbnail {
  border: .01rem solid white;
  border-radius: 1em;
  width: 4.25rem;
  height: 4.25rem;
  margin-top: .5vh;
}
/*all css for AddAnswer component*/
div.helpfulQuestion.container {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: large;

}
.aHelpful {
  padding-right: 1rem;
}
.qhelpfulIndicator{
  padding-right: .15rem;

}
p.qhelpfulIndicator:hover {
  font-family: 'Lora', sans-serif;
  display: flex;
  box-shadow: 0rem .938rem 1.25rem lightgray;
  text-decoration: none;
  font-size: x-large;
  padding: .25rem;
  letter-spacing: .0156rem;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  filter: saturate(5);
  color: #8883f3;
  transform: translateY(-.438rem);
}
 p.userHelpfulBtn:hover{
  font-family: 'Roboto', sans-serif;
  display: flex;
  box-shadow: 0rem .938rem 1.25rem lightgray;
  text-decoration: none;
  font-size: small;
  padding: .25rem;
  letter-spacing: .0156rem;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  filter: saturate(5);
  color: #8883f3;
  transform: translateY(-.438rem);
}
.helpfulCount {
  border-right: .15em solid black;
  justify-content: space-evenly;
  padding-right: 1rem;
}
p.addAnswerText{
  margin-left: 1vw;
  font-size: large;
}
p.addAnswerText:hover{
  font-family: 'lora', sans-serif;
  display: flex;
  box-shadow: 0rem .938rem 1.25rem lightgray;
  text-decoration: none;
  font-size: x-large;;
  padding: .5rem;
  letter-spacing: .0156rem;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  filter: saturate(5);
  color: #8883f3;
  transform: translateY(-.438rem);
}
/* messy css - some of this can be refactored/combined - tech debt*/
input.userNickName, input.userEmail, .addAnswerFormNickNameInput, .addAnswerFormEmail {
  border: .1rem solid lightgray;
  resize: none;
}
input.userNickName:hover, input.addAnswerFormNickNameInput:hover,input.userEmail:hover, input.addAnswerFormEmail:hover {
  border: .12rem solid grey;
  resize: none;
}

p.userIdText {
  padding-right: 1rem;
  padding-left: 1rem;
}

p.answerHelpfulText{
  padding-right:1rem;
  padding-left: 1rem;
}
p.userHelpIndicator {
  padding-right:.15em
}

.qhelpfulIndicator, .userReportBtn, .userHelpfulBtn, .userHelpfulBtn, .addAnswerText {
  text-decoration: underline;
}
p.userHelpfulBtn {
  margin-right: .25rem;
}
p.userHelpIndicator {
  padding-right: 1rem;
}
p.userReportBtn{
  padding-left: 1rem;
}

/*used for hinding all components*/
.hide {
  display: none;
}
