/* STARS */

.stars {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: snow;
  overflow: hidden;
  -webkit-text-stroke: 0.0625rem black;
  font-family: 'Times New Roman', Times, serif;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(135, 59, 59);
  font-family: 'Times New Roman', Times, serif;
}

.empty-stars:before,
.full-stars:before {
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 0.0625rem black;
}

.full-stars:before {
  -webkit-text-stroke: 0.0625rem black;
}.rnr {
  height: calc(100vh - 2rem);
  font-family: 'Lora', serif;
}

/* TOP LEVEL COMPONENT */
.ratings-and-reviews {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 2rem;
}

/* LEFT PANE OF COMPONENT */

.ratings-breakdown {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0.3125rem 0.3125rem 0.3125rem;
  min-width: 18.75rem;
}

/* SUMMARY AT THE TOP OF THE LEFT PANE */

.rating-summary {
  display: flex;
  flex-direction: column;
}

.rnr-title {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
  border-bottom: .1em solid grey;
}

.average-rating-wrapper {
  display: flex;
  flex-direction: row;
}

.average-rating-num {
  font-size: 4.375rem;
  font-weight: bolder;
  padding-right: 0.625rem;
}

.stars-count-wrapper {
  padding-top: 0.625rem;
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.average-rating-stars {
  justify-content: flex-start; /* this is wrong */
  font-size: large;
  width: max-content;
}

.count-of-reviews {
  justify-content: flex-start; /* this is wrong */
}

.recommends {
  font-size: smaller;
  padding: 0.625rem 0 0.625rem 0;
  font-style: italic;
}

/* CLICKABLE RATING BARS */

.rating-breakdown {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.875rem;
}

.breakdown-clickable {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar-label {
  text-decoration: underline;
  white-space: nowrap;
  width: 5rem;
}

.bar-count {
  font-size: smaller;
  width: 2.5rem;
}

.bar-wrapper {
  display: flex;
  width: 100%;
  height: 0.75rem;
  margin: 0.5rem 0.875rem 0.5rem 0.875rem;
  justify-content: stretch;
  border: 0.0625rem solid rosybrown;
  background-color: snow;
  border-radius: 6.25rem;
  transition: all .1s ease-in-out;
}

.bar-wrapper:hover {
  cursor: pointer;
  background-color: rgb(223, 200, 200);
  border: 0.0625rem solid rosybrown;
  transform: scale(1.075);
}

.bar-wrapper:hover .bar-green {
  background-color: rgb(135, 59, 59);
}

.bar-green {
  background-color: rosybrown;
  border-radius: 6.25rem;
  height: 0.75rem;
}

.bar-grey {
  background-color: transparent;
  border-radius: 6.25rem;
  height: 0.75rem;
}

/* PRODUCT FACTORS */

.product-breakdown {
  display: flex;
  flex-direction: column;
}

.factor {
  display: flex;
  flex-direction: column;
  padding-right: 0.625rem;
  padding-bottom: 1.25rem;
}

.factor-title {
  text-align: left;
  font-weight: bold;
}

.factor-levels {
  display: flex;
  flex-direction: row;
  height: 0.75rem;
  margin: 0.3125rem 0 0.3125rem 0;
  justify-content: space-evenly;
  position: relative
}

.icon {
  align-self: center;
  position: absolute;
  left: calc(50% - 8px);
}

.factor-level-section {
  margin: 0 0.1875rem 0 0.1875rem;
  width: 100%;
  background-color: snow;
  border: 0.0625rem solid rosybrown;
}

.factor-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: smaller;
}

.factor-label {
  width: 100%;
  text-align: center;
}

.factor-label-first {
  width: 100%;
  text-align: left;
}

.factor-label-last {
  width: 100%;
  text-align: right;
}

/* RIGHT PANE OF COMPONENT */

.reviews {
  display: flex;
  flex-direction: column;
  padding: 0 0.625rem 0 3.125rem;
  height: calc(100vh - 4rem);
  flex-grow: 2;
  z-index: -1;
}

/* Header */

.reviews-header {
  display: flex;
  flex-direction: column;
  padding: 1.875rem 0 1.875rem 0;
  width: 100%;
  border-bottom: 0.0625rem solid rgb(135, 59, 59);
}

.sort-title-wrapper {
  display: flex;
  flex-direction: row;
}

.sort-title {
  font-weight: bolder;
}

.sort-options {
  border: none;
  border-bottom: 0.0625rem solid black;
  font-weight: bolder;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.sort-options-selected {
  margin-top: 0.3125rem;
  font-size: small;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.sort-option-title {
  display: flex;
    flex-direction: row;
    padding: 0.125rem 0.375rem 0.125rem 0.375rem;
    width: max-content;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: small;
}

.sort-option-title:hover {
  background-color: snow;
}

.remove-star-filter {
  background-color: rgb(237, 237, 237);
  border-radius: 6.25rem;
  font-size: smaller;
  height: 0.8125rem;
  width: 0.8125rem;
  align-self: center;
  text-align: center;
}

.remove-star-filter:hover {
  cursor: pointer;
}

/* Reviews List */

.reviews-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.reviews-list::-webkit-scrollbar {
  display: none;
}

/* Individual Review */

.irt {
  padding: 1.25rem 0 1.25rem 0;
  border-bottom: 0.0625rem solid rgb(135, 59, 59);
}

.irt-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.irt-star-rating {
  font-size: larger;
}

.irt-username-and-date {
  font-size: smaller;
  padding-right: 0.1875rem;
}

.irt-review-summary {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.irt-summary-trunc {
  font-weight: bolder;
  padding: 0.625rem 0 0.625rem 0;
}

.irt-summary-overage {
  font-size: smaller;
  padding: 0.625rem 0 0.625rem 0;
}

.irt-review-body {
  font-size: smaller;
  padding: 0.625rem 0 0.625rem 0;
}

.irt-body-show {
  font-weight: bold;
  cursor: pointer;
  margin: 0.3125rem 0 0 0;
  padding: 0 0.3125rem 0 0.3125rem;
  border-radius: 6.25rem;
  display: flex;
  width: fit-content;
}

.irt-body-show:hover {
  background-color: snow;
}

.irt-photos {
  display: flex;
  flex-direction: row;
  padding-top: 0.625rem;
}

.irt-photo {
  margin-right: 0.625rem;
  height: 6.25rem;
  width: auto;
}

.irt-photo:hover {
  cursor: pointer;
}

.irt-additional-info {
  display: flex;
  flex-direction: column;
}

.irt-recommend {
  font-size: smaller;
  padding: 0.625rem 0 0.625rem 0;
}

.irt-response-to-review {
  margin: 0.625rem 0 0.625rem 0;
  background-color: snow;
  border: 0.0625rem solid rosybrown;
}

.irt-response-title {
  padding: 0.625rem;
  font-weight: bolder;
  font-size: smaller;
}

.irt-response {
  padding: 0 0.625rem 0.625rem 0.625rem;
  font-size: smaller;
}

.irt-helpfulness-info {
  display: flex;
  flex-direction: row;
  padding: 0.625rem 0 0.625rem 0;
  font-size: smaller;
}

.irt-helpful-text {
  padding-right: 0.3125rem;
}

.irt-yes-clickable {
  padding-right: 0.1875rem;
  text-decoration: underline;
  cursor: pointer;
}

.irt-rating-helpfulness {
  padding-right: 0.625rem;
  border-right: 0.0625rem solid black;
}

.irt-report-clickable {
  padding-left: 0.625rem;
  text-decoration: underline;
  cursor: pointer;
}

.irt-hr {
  width: 100%;
}

.review-buttons {
  width: 100%;
  padding: 0.625rem 0rem 0.625rem 0rem;
}

.review-button
, .r-submit {
  height: 3.125rem;
  margin-right: 0.625rem;
  padding: 0rem 1.25rem 0rem 1.25rem;
  background-color: white;
  cursor: pointer;
}

/* PHOTO MODAL */

.review-photo-open
, .add-review-open {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.review-photo-url {
  display: block;
  margin: auto;
  height: 90vh;
  margin-top: 5vh;
  width: auto;
}

/* ADD REVIEW MODAL */

.add-review-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 90vh;
  width: 37.5rem;
  margin-top: 5vh;
  background-color: snow;
  border-radius: 0.3125rem;
  overflow: scroll;
}

.add-review-form::-webkit-scrollbar {
  display: none;
}

.add-review-top {
  position: sticky;
  top: 0;
  border-bottom: 0.0625rem solid rosybrown;
  padding-bottom: 0.625rem;
  background-color: #fce1e0;
}

.x {
  width: 0.625rem;
  padding: 0.3125rem;
  position: absolute;
  height: 0.625rem;
  margin: 0.625rem;
  color: rgb(135, 59, 59);
}

.x:hover {
  color: black;
  cursor: pointer;
}

.review-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 1.25rem 0 0.3125rem 0rem;
}

.review-subtitle {
  text-align: center;
  padding-bottom: 0.625rem;
  font-style: italic;
  color: rgb(135, 59, 59);
}

.review-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.625rem 0 0.625rem 0;
  font-size: large;
}

.review-input > .stars {
  font-size: x-large;
}
.review-input > .stars:hover {
  cursor: pointer;
}

.radio-options-wrapper {
  display: flex;
  flex-direction: row;
}

.radio-options-wrapper-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-options-title {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: left;
  min-width: 5rem;
  padding: 0 0.9375rem 0 0.9375rem;
}

.radio-options {
  display: flex;
  padding: 0.625rem;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  align-content: center;
  height: 1.75rem;
}

.rcolumn {
  justify-content: center;
}

.radio-factor-title {
  text-align: center;
  padding: 0.9375rem;
  font-size: large;
}

.radio-options > div {
  border-right: 0.0625rem solid rosybrown;
  border-top: 0.0625rem solid rosybrown;
  border-bottom: 0.0625rem solid rosybrown;
  font-size: x-small;
  width: 4.6875rem;
}

.radio-label:first-child {
  border-left: 0.0625rem solid rosybrown;
  border-radius: 0.1875rem 0 0 0.1875rem;
}

.radio-label:last-child {
  border-radius: 0 0.1875rem 0.1875rem 0rem;
}

.radio-label {
  padding: 0.1875rem;
  width: 100%;
  height: 100%;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-label:hover {
  cursor: pointer;
}

.is-false {
  background-color: white;
}

.is-true {
  background-color: #fce1e0;
  color: black;
}

.r-summary
, .r-full
, .r-name
, .r-email {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0.9375rem 0.625rem 0.9375rem;
}

.r-name-email-submit {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.9375rem;
}

.r-name
, .r-email {
  padding: 0rem;
}

.r-title {
  padding: 0.625rem 0 0.3125rem 0;
}

.r-submit {
  flex-grow: 1;
  margin: 0rem;
  align-self: flex-end;
}

.r-input-small {
  border: none;
  border-bottom: 0.0625rem solid rosybrown;
  outline: none;
  background-color: snow;
}

.r-name-email {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  margin-right: 9.375rem;
}

.r-full-input {
  resize: none;
  height: 6.25rem;
  outline: none;
  border: 0.0625rem solid rosybrown;
  font-family: arial;
}

.r-photo-wrapper {
  padding: 0.9375rem;
}

.r-photos {
  padding-top: 0.625rem;
  display: flex;
}

.r-photo-title {
  padding-right: 0.3125rem;
}

.r-photo-button {
  height: 1.5625rem;
  padding: 0rem 0.3125rem 0rem 0.3125rem;
  background-color: white;
  border: 0.0625rem solid black;
  cursor: pointer;
}

.r-photo-button:hover,
.r-submit:hover,
.review-button:hover {
  background-color: rgb(235, 235, 235);
}

.r-required {
  color: rgb(138, 59, 59);
  font-size: small;
}

.r-full-min{
  padding-right: 0.9375rem;
  text-align: right;
  font-size: x-small;
  color: gray;
}


.r-name-note,
.r-email-note {
  font-size: x-small;
  color: rgb(80, 80, 80);
  padding: 0.3125rem 0.1875rem 0.9375rem 0.1875rem;
  font-style: italic;
}

.form-button-wrap {
  display: flex;
  justify-content: end;
  align-content: flex-end;
}

.r-star-rating-selected {
  font-size: small;
}

.review-button,
.r-submit,
.r-photo-button {
  color: #000;
  background-color: snow;
  border: none;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  outline: none;
  border: .093rem solid lightgray;
}


.r-submit,
.r-photo-button {
  background-color: white;
}

.r-submit:hover,
.r-photo-button:hover {
  transform: scale(1.05);
}

.review-button:hover,
.r-submit:hover,
.r-photo-button:hover {
  box-shadow: 0rem .938rem 1.25rem rgba(0, 0, 0, 0.3);
  color: white;
  background-color: rosybrown;
}

.review-button:hover {
  transform: translateY(-.219rem);
}

.review-list-full {
  flex-grow: 1;
  margin-right: 2rem;
}