/*----------------------
REALTED PRODUCTS STYLING
-----------------------*/
body {
  background-color: #fce1e0;
}
.relatedProductsTitle {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
  border-bottom: .1em solid grey;
}

.relatedProductsList {
  display: flex;
  justify-content: center;
}

.relatedProductsCardList {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.relatedProductsCard {
  flex-grow: 1;
  flex-shrink: 0;
  border: .1em solid grey;
  margin: 2rem;
  width: 20rem;
  cursor: pointer;
  background-color: #fdebeb;
}

.relatedProductsCardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productName {
  font-family: 'Montserrat', sans-serif;
  margin-left: .5rem;
  margin-bottom: .2rem;
}

.relatedProductsCardBottom {
  display: flex;
  flex-direction: column;
}

.productCategory {
  font-family: 'Lora', serif;
  margin-top: .2rem;
  margin-bottom: .2rem;
  margin-left: .5rem;
  font-style: italic;
}

.originalProductPrice {
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-top: .2rem;
}

.originalProductPriceWithSale,
.saleproductPrice {
  margin-bottom: 1rem;
  margin-left: .5rem;
}

.relatedProductsActionButton {
  height: 4em;
  width: 4em;
  cursor: pointer;
  background: transparent;
  border: none;
}


.nextButton, .prevButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: x-large;
  background: transparent;
  border: none;
}

.nextButton {
  margin-right: 2rem
}

.prevButton {
  margin-left: 2rem
}

/*-----------------
YOUR OUTFIT STYLING
-----------------*/

.yourOutfitTitle {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
  border-bottom: .1em solid grey;
}

.yourOutfitList {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow: hidden;

}
.yourOutfitCardList {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.yourOutfitCard {
  flex-grow: 1;
  flex-shrink: 1;
  border: .1em solid grey;
  margin: 2rem;
  width: 20rem;
  align-items: center;
  justify-content: center;
  background-color: #fdebeb;
}

.yourOutfitActionButton {
  font-size: x-large;
  background: transparent;
  border: none;
  cursor: pointer;
}

.addToOutfitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 2rem;
  text-transform: uppercase;
  letter-spacing: .156rem;
  font-weight: 400;
  color: #000;
  background-color: snow;
  border: none;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  border: .2rem solid lightgray;
}

.addToOutfitButton span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.addToOutfitCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------
RP MODAL STLYING
---------------*/
.relatedProductsModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .3125rem;
  overflow: scroll;
  z-index: 50;
}
.modalOpen {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

.modalTitle {
  font-family: 'Montserrat', sans-serif;
}

.rpModalTdheader,
.rpModalTdata {
  font-family: 'Lora', serif;
}

.modalTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fce1e0;
  width: 60%;
  height: 75%;
  margin: auto;
  border-radius: 0.3125rem;
}

.rpModalTable {
  border: .1em solid grey;;
}

.relatedProductsModal td,
th {
    border: .1em solid grey;;
    padding: .0625rem;
}

.relatedProductsModal td {
    text-align: center;
}

.closeModal {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: .156rem;
  font-weight: 400;
  color: #000;
  background-color: snow;
  border: none;
  box-shadow: 0rem .5rem .938rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  border: .2rem solid lightgray;
}

/*------------
HOVER STYLING
-------------*/

.nextButton:hover,
.prevButton:hover {
  color: dimgray;
  transform: scale(1.5);
}

.relatedProductsActionButton:hover {
  color: #544848;
  transform: translateY(-.238rem) scale(1.5);
}
.yourOutfitActionButton:hover {
  color: darkred;
  transform: translateY(-.238rem) scale(1.2);
}

.addToOutfitButton:hover {
  box-shadow: 0rem .938rem 1.25rem lightgray;
  color: white;
  background-color: rosybrown;
  transform: translateY(-.438rem);
}

.closeModal:hover {
  box-shadow: 0rem .938rem 1.25rem lightgray;
  color: white;
  background-color: rosybrown;
  transform: translateY(-.438rem);
}

.relatedProductsCard:hover {
  box-shadow: 0rem .938rem 1.25rem lightgray;
  transform: translateY(-.438rem);
}

.yourOutfitCard:hover {
  box-shadow: 0rem .938rem 1.25rem lightgray;
}



/*----------
TEXT STLYING
-----------*/

.originalProductPriceWithSale {
  text-decoration: line-through;
}

.saleProductPrice {
  color: red;
}


/*----------
IMAGE STLYING
-----------*/

#rpImage,
#outfitImage {
  width: 15.625rem;
  height: 18.75rem;
  align-self: center;
}

@media only screen and (max-width: 912px) {
  .relatedProductsList {
    display: flex;
    justify-content: normal;

  }
}